*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: radial-gradient(circle, #d16ba5, #ba62a7, #a05ba8, #8356a8, #6151a6, #4f5fb3, #366dbe, #0079c6, #009bdd, #00bcea, #00dcf0, #5ffbf1);
}

.app{
    backdrop-filter: blur(75px);
    /*background: #fff;*/
    width: 90%;
    border: 1px solid #000000;
    border-radius: 15px;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #000c72;
    font-weight: 600;
    border-bottom: 1px solid #333 ;
    padding-bottom: 30px ;
}
.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding : 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
    transition: all 0.5s;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border:0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct{
    background: #00ff6e;
}

.incorrect{
    background: #ff0000;
}